@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #ebc6b6;
	font-family: 'Poppins', sans-serif;
}

svg {
	position: fixed;
	z-index: -1;
}

h1 {
	font-size: 64px;
	color: white;
	text-decoration: underline;
}

h2 {
	font-size: 36px;
	color: white;
	margin-bottom: 1rem;
}

h3 {
	font-size: 24px;
	color: white;
	margin-bottom: 0.5rem;

}

.container {
	height: 100vh;
	margin: 0 6rem 0 6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


img {
	width: 50%;
}
