
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #ebc6b6;
	font-family: 'Poppins', sans-serif;
}

svg {
	position: fixed;
	z-index: -1;
}

h1 {
	font-size: 64px;
	color: white;
	text-decoration: underline;
}

h2 {
	font-size: 36px;
	color: #e2e2e2;
	margin-bottom: 1rem;
}

h3 {
	font-size: 24px;
	color: #e2e2e2;
	margin-bottom: 0.5rem;

}

p {

	color: #f2f2f2;
}

.container {
	height: 100vh;
	margin: 0 6rem 0 6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}




img {
	width: 60%;
}

.about {
	width: 36%;
}

.feedback {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.review {
	padding: 2%;
	border-radius: 10px;
	/*	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
	display: flex;
	justify-content: space-between;
	background: #f6ab40;
	margin: 2vh 0 2vh 0;
}

.review-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.review h2 {
	text-decoration: underline;
}

.review img {
	width: 32%;
	border-radius: 6px;
}
